@import "~foundation-sites/scss/grid/grid";

.navbar {
  $navbar-height: 3rem;
  @include grid-column(12);
  width: 100%;
  height: $navbar-height;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.50);

  &__content {
    @include flex-grid-row();
    justify-content: space-between;
  }

  &__title {
    @include flex-grid-column(2);
    height: $navbar-height;
    line-height: $navbar-height;
    font-size: 2rem;
    color: $color-dark;

    &:hover {
      color: $color-dark;
    }
  }

  &__location-container {
    @include flex-grid-column(8);
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  &__location-wrapper {
    display: flex;
    align-items: center;
    flex: 1 1 auto;
    border: 1px solid $color-silver;

    & i {
      color: $color-silver;
      flex: 0 0 auto;
      width: 30px;
      text-align: center;
    }
  }

  & input[type='text'] {
    background: transparent;
    border: none;
    color: $color-silver;

    &:active,
    &:focus {
      border: none;
      color: $color-silver-dark;
    }
  }

  &__right {
    @include flex-grid-column(2);
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  &__right-text {
    margin: 0 5px;
  }

  .eb-logo {
    height: 2rem;
    transition: transform 0.2s linear;

    &:hover {
      transform: scale(1.1);
    }
  }
}
