.side-menu {
    display: flex;
    height: 85vh;
    background-color: $color-white;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,0.50);

    &__content {
      display: flex;
      flex-flow: column nowrap;
      flex: 1 1 auto;
      opacity: 1;
      transition: opacity 0.25s;

      &.hide {
        opacity: 0;
      }
    }

    &__title {
        flex: 0 0 auto;
        color: $color-dark;
        text-transform: uppercase;
        padding: 8px;
        margin: 10px 10px 0;
        border-bottom: 1px solid $color-silver;
    }

    &__categories {
        display: block;
        flex: 1 1 auto;
        margin: 5px 0;
        list-style: none;
        overflow: auto;
    }

    &__subcategories {
      border-left: 1px solid $color-blue;
      margin: 15px 2px 0px;
      max-height: 700px;
      opacity: 1;
      transition: opacity 0.25s ease-in 0.1s, max-height 0.25s ease-in 0.1s;
      overflow: hidden;

      &.hide {
        max-height: 0;
        opacity: 0;
        margin: 0;
        transition: opacity 0.25s ease-in, max-height 0.25s ease-in, margin 0s 0.3s;
      }
    }

    &__category {
        color: $color-dark;
        padding: 10px 20px;
        font-size: 16px;
        cursor: pointer;
        &.active,
        &:hover {
            color: $color-orange;
        }

        &.disable {
          pointer-events: none;
          color: $color-silver
        }
    }

    &__subcategory {
      display: flex;
      color: $color-dark;
      padding: 10px 20px;
      cursor: default;

      span {
        align-self: center;
        color: $color-silver;
        text-align: right;
        font-size: 12px;
        flex: 1 1 auto;
        margin-left: 10px;
      }
    }
}
